@page "/"
@page "home" 

<PageTitle>BlazorChatToolKit</PageTitle>

<h1>BlazorChatToolKit</h1>
<div class="mt-5">
Working on a Blazor Chat Tool Kit that will use GPT-3 to generate a text response, creates a message list, and encrypts and stores the API Key in Local Storage.
</div>
<div class="mt-5">
Want to add the Dall-E image generation to this project and other OpenAI endpoints.
</div>
<div class="mt-5">
This is a culmination of following a few different guides that I try to cite and make reference too.
</div>
<div class="mt-5">
Added plain local storage to this example found at <a href="@("https://github.com/Yash-FStack/ChatGPT_Blazor/tree/master")">Yash-FStack/ChatGPT_Blazor</a>
</div>
<div class="mt-5">
Followed guide from <a href="@("https://github.com/Timmoth/blazor-npm-guide/tree/main")">Timmoth/blazor-npm-guide</a>
</div>
<div class="mt-5">
Followed guide from <a href="@("https://github.com/mahdiit/blazor-wasm-encryptstorage/tree/main")">mahdiit/blazor-wasm-encryptstorage</a>
</div>
