@page "/socketchat"
@using BlazorChatToolKit
@using BlazorChatToolKit.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using SocketIOClient
@inject ChatConfigurationService ChatConfigurationService
@inject NavigationManager NavigationManager

<h2>Socket Chat</h2>
<div>
    <input @bind="InputText" @onkeydown="InputKeyDown" />
    <button @onclick="SendMessage">Send</button>
</div>
<div>
    @foreach (var message in Messages)
    {
        <p>@message</p>
    }
</div>

@code {
    private string InputText { get; set; }
    private List<string> Messages { get; set; } = new List<string>();
    private SocketIO Socket => ChatConfigurationService.Socket;

    protected override async Task OnInitializedAsync()
    {
        if (Socket == null)
        {
            NavigationManager.NavigateTo("/"); // Redirect to the configuration page if the socket is not initialized
            return;
        }

        Socket.On("ChatResult", async response =>
        {
            var message = response.GetValue<string>(0);
            await InvokeAsync(async () =>
            {
                Messages.Add(message);
                StateHasChanged();
            });
        });
        await Socket.ConnectAsync();

        // Configure the chat binary using the service
        await ChatConfigurationService.ConfigureChatBinary();
    }

    private async Task SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(InputText))
        {
            await Socket.EmitAsync("Chat", new { input = InputText });
            InputText = string.Empty;
        }
    }

    private async Task InputKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    public async ValueTask DisposeAsync()
    {
        await Socket.DisconnectAsync();
    }
}
